<div class="row">
    <div class="col-xs-3 col-md-3">
        <character-box
                class="redCorner" style="background: red;"
                description="characters.redCorner.name"
                img-url="characters.redCorner.thumbnailPath ? characters.redCorner.thumbnailPath + '/portrait_xlarge.jpg' : null">
        </character-box>
    </div>

    <div class="col-xs-6 col-md-6">
        <a class="btn btn-danger btn-block fight-button"
           ng-href="#/fight/{{characters.redCorner.id}}/{{characters.blueCorner.id}}">
            Start Fight
        </a>
    </div>

    <div class="col-xs-3 col-md-3">
        <character-box
               class="blueCorner"
               description="characters.blueCorner.name"
               img-url="characters.blueCorner.thumbnailPath ? characters.blueCorner.thumbnailPath + '/portrait_xlarge.jpg' : null">
        </character-box>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button style="float:left" ng-click="characters.decreasePageNum()">Left</button>
        <button style="float:right" ng-click="characters.increasePageNum()">Right</button>
    </div>
</div>

<div class="row list">
    <div class="col-xs-3 col-md-3" ng-repeat="character in characters.filteredCharacters">
        <character-box
                description="character.name"
                img-url="character.thumbnailPath + '/portrait_xlarge.jpg'"
                action-right="characters.setBlueCorner(character)"
                action-left="characters.setRedCorner(character)"
                data="character">
        </character-box>
    </div>
</div>

