<div class="row character-selection">
    <div class="col-xs-3 col-md-3">
        <character-box
                class="redCorner"
                description="characters.redCorner.name"
                img-url="characters.redCorner.thumbnailPath ? characters.redCorner.thumbnailPath + '/portrait_xlarge.jpg' : null">
        </character-box>
    </div>

    <div class="col-xs-6 col-md-6">
        <a class="btn btn-danger btn-block fight-button"
           ng-href="#/fight/{{characters.redCorner.id}}/{{characters.blueCorner.id}}">
            Start Fight
        </a>
    </div>

    <div class="col-xs-3 col-md-3">
        <character-box
               class="blueCorner"
               description="characters.blueCorner.name"
               img-url="characters.blueCorner.thumbnailPath ? characters.blueCorner.thumbnailPath + '/portrait_xlarge.jpg' : null">
        </character-box>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="button btn-primary nav-button nav-button-left" ng-click="characters.decreasePageNum()">
            <i class="glyphicon glyphicon-chevron-left">Back</i>
        </button>
        <button class="button btn-primary nav-button nav-button-right" ng-click="characters.increasePageNum()">
           <i class="glyphicon glyphicon-chevron-right"></i>Forward
        </button>
    </div>
</div>

<div class="row character-list">
    <div class="col-xs-3 col-md-3" ng-repeat="character in characters.filteredCharacters">
        <character-box
                description="character.name"
                img-url="character.thumbnailPath + '/portrait_xlarge.jpg'"
                action-right="characters.setBlueCorner(character)"
                action-left="characters.setRedCorner(character)"
                data="character">
        </character-box>
    </div>
</div>

