<div class="character-box">
    <button class="btn btn-primary selection-button selection-button-left"
         ng-style="{true: {display: 'none'}, false: {}}[isActionLeftHidden]"
         ng-click="actionLeft(data)">
        L
    </button>

    <button class="btn btn-danger selection-button selection-button-right"
         ng-style="{true: {display: 'none'}, false: {}}[isActionRightHidden]"
         ng-click="actionRight(data)">
        R
    </button>

    <img class="thumbnail" ng-show="imgUrl" ng-src="{{imgUrl}}">

    <div class="description">
        {{description}}
    </div>
</div>