<div class="row">
    <div class="col-xs-6 col-md-3">
        <character-box
                class="redCorner"
                description="redCorner.description"
                img-url="redCorner.thumbnailPath ? redCorner.thumbnailPath + '/portrait_xlarge.jpg' : null">
        </character-box>
    </div>

    <div class="col-xs-12 col-md-6">
        <a class="btn btn-danger btn-block fight-button" ng-href="#/fight/{{redCorner.id}}/{{blueCorner.id}}">Start Fight</a>
    </div>

    <div class="col-xs-6 col-md-3">
        <character-box
               class="blueCorner"
               description="blueCorner.description"
               img-url="blueCorner.thumbnailPath ? blueCorner.thumbnailPath + '/portrait_xlarge.jpg' : null">
        </character-box>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <pager
            boundary-links="true"
            ng-model="currentPage"
            class="pagination-sm"
            total-items="100"
            previous-text="Prev" next-text="Next">
        </pager>
    </div>
</div>

<div class="row list">
    <div class="col-xs-6 col-md-3" ng-repeat="character in filteredCharacters">
        <character-box
                description="character.description"
                img-url="character.thumbnailPath + '/portrait_xlarge.jpg'"
                action-right="setBlueCorner(character)"
                action-left="setRedCorner(character)"
                data="character">
        </character-box>
    </div>
</div>

