<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="thumbnail" ng-class="{'highlight-left': leftHighlight}">
            <img ng-src="{{redCorner.thumbnail.path}}/portrait_xlarge.jpg" alt="character" >
            <div class="caption">
                <h3>{{redCorner.name}}</h3>
                <p>{{redCorner.description}}</p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="thumbnail" ng-class="{'highlight-right': rightHighlight}">
            <img ng-src="{{blueCorner.thumbnail.path}}/portrait_xlarge.jpg" alt="character" >
            <div class="caption">
                <h3>{{blueCorner.name}}</h3>
                <p>{{blueCorner.description}}</p>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-danger btn-block" style="margin:0 auto;max-width:300px;" ng-click="fight()">Fight</button>
