
.page-character-selection {

  .character-box {
    width: 260px;
    height: 280px;
    padding: 5px;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    .thumbnail {
      margin-bottom: 10px;
      width: 150px;
      height: 225px;
      margin-left: 50px;
      margin-right: 40px;
    }

    .description {
      background: white;
      clear: both;
    }

    .selection-button {
      width: 40px;
      height: 40px;
    }

    .selection-button-left {
      float: left;
    }

    .selection-button-right {
      float: right;
    }
  }

  .nav-button {
    width: 100px;
  }

  .nav-button-left {
    float: left;
    margin-left: 10px;
  }

  .nav-button-right {
    float: right;
    margin-right: 10px;
  }

  .character-selection {
    margin-bottom: 10px;
  }

  .character-list {
    margin-top: 10px;

    .character-box {
      background: #eea236;
      margin: 0 auto;
    }
  }

  .fight-button {
    margin-top: 30px;
  }

  .redCorner {
    float:left;
    background: #b92c28;
    margin: 5px 0 0 5px;
  }

  .blueCorner {
    background: #245580;
    float:right;
    margin: 5px 5px 0 0;
  }
}

