
.page-fight {

  .fighter-box {
    height: 300px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 5px;
    background: #eea236;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    .fighter-box.highlight-left {
      background: #b92c28;
    }

    .fighter-box.highlight-right {
      background: #245580;
    }

    .thumbnail {
      width: 150px;
      height: 225px;
    }

    .name {
      clear:both;
      background: white;
    }

    .description {
      width: 200px;
      height: 225px;
      background: white;
      padding: 5px;
    }
  }

  .fighter-box.fighter-box-left {
    .thumbnail {
      float: right;
    }

    .description {
      float: left;
    }
  }

  .fighter-box.fighter-box-right {
    .thumbnail {
      float: left;
    }

    .description {
      float: right;
    }
  }

  .fighter-container {
    margin-top: 20px;
  }

  .fighter-button {
    margin:20px auto;
    max-width:300px;
  }
}